{% load dcodex_collation_tags %}
        
        
        <table class="table table-hover">
            <thead>
                <tr>
                {% for column in alignment.column_set.all.reverse %}
                    <th scope="col" >{{column.order}}</th>
                {% endfor %}
                <th scope="col">Siglum</th>
                </tr>
            </thead>
            <tbody>
                {% for row in alignment.row_set.all %}
                <tr>
                    {% for column in alignment.column_set.all.reverse %}
                        <td class="token" style="direction: rtl;" data-row="{{ row.id }}" data-column="{{ column.id }}" {{ row|draggable:column }}><div class="tokendiv" ><div class="shift shift-left"></div>{{ row|token:column }}<div class="shift shift-right"></div></div></td>
                    {% endfor %}
                    <th scope="row"><a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ row.transcription.manuscript }}">{{ row.transcription.manuscript.short_name }}</a></th>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
