{% load dcodex_collation_tags %}
        
        
        <table class="table table-hover">
            <thead>
                <tr>
                {% if not alignment.is_rtl %}
                    <th scope="col">Siglum</th>
                {% endif %}

                {% for column in alignment.column_set_display_order %}
                    <th scope="col" ><a href="{% url 'classify_transition_for_pair' family_siglum=alignment.family.name verse_ref=alignment.verse.url_ref column_rank=column.order pair_rank=0%}">{{column.order}}</a></th>
                {% endfor %}
                {% if alignment.is_rtl %}
                    <th scope="col">Siglum</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for row in alignment.row_set.all %}
                <tr>
                    {% if not alignment.is_rtl %}
                        <th scope="row"><a href="/dcodex/ms/{{ row.transcription.manuscript.siglum }}/{{ row.transcription.verse.url_ref }}/" data-toggle="tooltip" data-placement="bottom" title="{{ row.transcription.manuscript }}">{{ row.transcription.manuscript.short_name }}</a></th>
                    {% endif %}


                    {% row_cells_td alignment row %}
                    {% comment %}
                    {% for cell in row.cell_set_display_order %}
                        <td class="token {% if alignment.is_rtl %}rtl{%else%}ltr{%endif%}" data-row="{{ row.id }}" data-column="{{ cell.column.id }}" data-cell="{{ cell.id }}"  data-state="{{ cell.state.id }}" {% if cell.token %}draggable=true{% endif %}><div class="tokendiv" ><div class="shift shift-left"></div>{{ cell.token_display }}<div class="shift shift-right"></div></div></td>
                    {% endfor %}
                    {% endcomment %}

                    {% if alignment.is_rtl %}
                        <th scope="row"><a href="/dcodex/ms/{{ row.transcription.manuscript.siglum }}/{{ row.transcription.verse.url_ref }}/" data-toggle="tooltip" data-placement="bottom" title="{{ row.transcription.manuscript }}">{{ row.transcription.manuscript.short_name }}</a></th>
                    {% endif %}

                </tr>
                {% endfor %}
                
            </tbody>
        </table>
