{% load dcodex_tags %}
{% load dcodex_collation_tags %}

<p class="state">{{state|state_str_at:column}}</p>
    <button class="btn atext {% if state == column.atext %}btn-danger{% else %}btn-outline-danger{%endif%}" data-state="{{ state.id }}" type="button" data-toggle="collapse" data-target="#atext-notes-{{state.id}}" aria-expanded="false" aria-controls="collapseExample">
    A Text
    </button>
    <div id="atext-notes-{{state.id}}" class="collapse {% if state == column.atext %}show{% endif %}" >
    <textarea class="form-control text-center atext-notes" id="info{{ state.id }}" data-state="{{ state.id }}" rows="2">{% if state == column.atext %}{{column.atext_notes|blank_if_none}}{%endif%}</textarea>
    <button class="btn btn-outline-success atext-notes-save" data-state="{{ state.id }}" type="button">Save</button>
</div>
