{% extends "dcodex/base_sidebars.html" %}
{% load static %}
{% load dcodex_tags %}
{% load dcodex_collation_tags %}

{% block title %}{{ alignment.family }}: {{alignment.verse}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/comparison.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>



.highlight-column {
    background-color: #eeeeee;    
}
.comparison_button {
    width: 20px;
    height: 25px;
}
.hover {
    background-color: yellow;
}
.shift {
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0px;
    padding: 0px;
    maring: 0px;
}
.shift:hover {
    background-color: gold;
}

.shift-left {
    left: 0px;
    cursor: w-resize;
}
.shift-right {
    right: 0px;
    cursor: e-resize;
}

.token {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
td {
    margin: 0px;
    padding: 0px;
}
th {
    text-align: center;
}
</style>
{% endblock %}

{% block middle %}
{{ alignment.family }}: {{alignment.verse}}

{% if prev_verse %}
    <a href="{% url 'alignment_for_family' family_siglum=alignment.family.name verse_ref=prev_verse.url_ref %}" class="btn btn-outline-primary">Prev</a>
{% endif %}
{% if next_verse %}
    <a href="{% url 'alignment_for_family' family_siglum=alignment.family.name verse_ref=next_verse.url_ref %}" class="btn btn-outline-primary">Next</a>
{% endif %}

<div class="container">

        {% include 'dcodex_collation/partials/_alignment_table.html' with alignment=alignment %}
        <button class="btn btn-outline-danger clearempty" type="button" >Clear Empty Columns</button>
</div>

{% endblock %}

{% block right_sidebar %}

<div id='comparison'></div>

{% endblock %}



{% block left_sidebar %}

<center>
    <img src="{% static 'dcodex/images/DCodex-Logo.svg' %}" id='logo' />
</center>

<div id="sidebar_cards">
    {% for alignment_for_family in alignments_for_family %}
        <div class="sidebar_card {% if alignment_for_family.id == alignment.id %}sidebar_card_selected{% endif %}" id="alignment{{ collation_location.id }}">
            <div>
                <a href="{% url 'alignment_for_family' alignment.family.name alignment_for_family.verse.url_ref %}">{{alignment_for_family.verse.reference_abbreviation}}</a> 
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}


{% block extra %}
<div id=hover></div>
<div id=msHover style='overflow:hidden;'></div>
{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<script>
var hover_xhr = null;
function shift(element) {
    var td = element.closest("td")
    var data = {
        'row': td.data('row'), 
        'column': td.data('column'), 
        'alignment': '{{ alignment.id }}', 
        'maxshift': 0,
        }
    if (element.hasClass("shift-left")) {
        data['delta'] = -1;
    }
    else {
        data['delta'] = 1;
    }
    $.ajax({
        type: "POST",
        url: "{% url 'shift' %}",
        data: data,
        success: function() {   
            location.reload();  
        }
    });
    return true;
}

$( document ).ready(function() {
    console.log( "loading from location.html" );
    load_comparison({{ alignment.verse.id }}, 1, '#comparison' );

    $('[data-toggle="tooltip"]').tooltip();

    $(".token").hover(
        function() {
            var column = $(this).data('column');
            $('[data-column="'+column+'"]').addClass( "highlight-column" );
            $( this ).addClass( "hover" );
        }, function() {
            var column = $(this).data('column');
            $('[data-column="'+column+'"]').removeClass( "highlight-column" );
            $( this ).removeClass( "hover" );
        });
    });
    $('.token').on("dragstart", function (event) {
        var dt = event.originalEvent.dataTransfer;
        dt.setData('column', $(this).data('column'));
        dt.setData('row', $(this).data('row'));
        //dt.setData('cell', $(this).data('cell') );
    });
    $('table td').on("dragenter dragover drop", function (event) {	
        event.preventDefault();
        if (event.type === 'drop') {
            var td = $(this)
            var start_column = event.originalEvent.dataTransfer.getData('column');
            var start_row = event.originalEvent.dataTransfer.getData('row');
            
            var end_column = $(this).data('column');
            var end_row = $(this).data('row');

            if ( end_row != start_row) {
                return false;
            }
            var data = {
                'row': end_row, 
                'start_column': start_column, 
                'end_column': end_column, 
                'alignment': '{{ alignment.id }}', 
                }
            $.ajax({
                type: "POST",
                url: "{% url 'shift_to' %}",
                data: data,
                success: function() {   
                    var start_td = $("[data-row='"+start_row+"'][data-column='"+start_column+"']");
                    start_td.removeClass( "hover" );
                    start_td.attr('draggable', 'False');
                    td.html( start_td.html() );
                    start_td.html("");
                    td.attr('draggable', 'True');

                    //location.reload();  
                }
            });
        };
    });

    $(".shift").click(function(e){
        return shift( $(this) );
    });
    $(".clearempty").click(function(e){
        var data = {
            'alignment': '{{ alignment.id }}', 
            }
        $.ajax({
            type: "POST",
            url: "{% url 'clear_empty' %}",
            data: data,
            success: function() {   
                location.reload();  
            }
        });
        return true;
    });


</script>
{% endblock %}