{% extends "dcodex/base_sidebars.html" %}
{% load static %}
{% load dcodex_tags %}
{% load dcodex_collation_tags %}

{% block title %}{{ alignment.family }}: {{alignment.verse}}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block middle %}

<h1>Pairwise Comparison</h1>
<h2>{{ manuscript1 }}</h2>
<h2>{{manuscript2}}</h2>

<p>
    Aligned in {{ total_count }} columns.
</p>
<p>
    Agree in {{ agreement_count }} columns ({{ agreement_percentage|stringformat:".2f" }}%).
</p>

<p>Of the {{ disagreement_count }} disagreements, the following possible transitions are tagged:</p>


<table class="table table-hover"  style='text-align: center;'>
    <thead>
      <tr>
        <th scope="col">Column</th>
        <th scope="col">{{ manuscript1.siglum }} State</th>
        <th scope="col">Tag(s)</th>
        <th scope="col">{{ manuscript2.siglum }} State</th>
      </tr>
    </thead>
    <tbody>
        {% for transition in disagreement_transitions %}
        <tr>
            <td><a href='{{ transition.column.alignment.get_absolute_url }}'>{{ transition.column }}</a></td>
            <td>{{ transition.start_state }}</td>
            <td><i class="fas fa-long-arrow-alt-right"></i> {{ transition.transition_type_str }}<br>
                <i class="fas fa-long-arrow-alt-left"></i> {{ transition.inverse_transition_type_str }}
            </td>
            <td>{{ transition.end_state }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  

{% endblock %}

{% block right_sidebar %}
{% endblock %}



{% block left_sidebar %}

{% endblock %}


{% block extra %}
{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}